<div class="card" id="message_block_<%= message.id %>">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= image_tag(message.user.avatar(:thumb), width: 42, height: 42) %>
      </div>
      <div class="col-md-8">
        <p class="card-text">
          <span class="text-muted"><%= message.user.nickname %> at <%= message.timestamp %> says</span><br>
          <span id='message_<%= message.id %>'><%= message.body %></span>
        </p>
      </div>
      <div>
        <% if current_user.id == message.user.id %>
          <button id="button_<%= message.id %>" type="submit" class="button_edit" data-message-id="<%= message.id %>">Edit</button>
          <button id="button_deleted_<%= message.id %>" type="submit" class="button_delete" data-message-id="<%= message.id %>">Delete</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
