.testbox.testbox_sign_up
  %h2.reg-form Sign up
  = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), label_errors: true) do |f|
    %hr/
    = f.email_field :email, autofocus: true, required: true
    = f.text_field :nickname, required:true
    = f.password_field :password, autocomplete: 'off', required: true
    = f.password_field :password_confirmation, autocomplete: 'off', required: true
    %hr/
    .actions
      = f.submit 'Sign up', class: 'btn-reg-new btn btn-primary'
  .reg-new-link
    = render 'devise/shared/links'
