<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", '#' %></li>
          <% if signed_in? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Friends <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Show friends", friends_path %></li>
                  <li><%= link_to "Find friends", friends_find_path %></li>
                  <li class="divider"></li>
                  <li> <%= link_to "Pending requests", friends_pending_requests_path %> </li>
                  <li> <%= link_to "Your requests", friends_user_request_path %> </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Account <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", '#' %></li>
                  <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
